<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="personelEkle">
        <div>
            <label>Tc No: </label>
            <input type="text" id="txtTCKimlikNo" data-bind="value:TCKimlikNo" />
        </div>
        <br />
        <div>
            <label>Ad </label>
            <input type="text" id="txtAd" data-bind="value:Ad" />
        </div>
        <br />
        <div>
            <label>Soyad </label>
            <input type="text" id="txtMarka" data-bind="value:Soyad" />
        </div>
        <br />
        <div>
            <label>Telefon No </label>
            <input type="text" id="txtTelefonNo" data-bind="value:TelefonNo" />
        </div>
        <br />
        <div>
            <label>Adres </label>
            <input type="text" id="txtAdres" data-bind="value:Adres" />
        </div>
        <br />
        <div>
            <label>Departman ID </label>
            <input type="text" id="txtDepartmanId" data-bind="value:DepartmanId" />
        </div>
        <br />
        <div>
            <label>Kullanıcı Adı</label>
            <input type="text" id="txtKullaniciAdi" data-bind="value:KullaniciAd" />
        </div>
        <br />
        <div>
            <label>Şifre</label>
            <input type="text" id="txtSifre" data-bind="value:Sifre" />
        </div>
        <div>
            <input type="button" id="btnKaydet" class="k-button" value="Kaydet" />
        </div>
    </div>
</body>
</html>